@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- The social media icon bar -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bc60e202271591d"></script>

<script src="~/js/rellax.min.js"></script>


<div class="rellax" data-rellax-speed="3" data-rellax-zindex="5">
    <div id="ParallaxLayer3"> </div>
</div>



<div id="LogoSection">
    <br />
    <br />
    <img src="~/images/BIGLOGO.png" id="mainLogo" />
    <img src="~/images/sublogo.png" id="subLogo" />

</div>

<section class="intro" id="trailer">
    <row>
        <div class="col-lg-6 col-sm-12 left">
            <p>
                <iframe src="https://player.vimeo.com/video/295286867?autoplay=1&loop=1&autopause=0" frameborder="0" allowfullscreen=""></iframe>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 right">
            <img src="~/images/howdoyouplay.png" id="howdoyouplay" />
            <div class="howToPlay">
                <p> Every connect row and column must have an odd total </p>
                <br />
                <p> Race against the clock to out-score your opponents </p>
                <br />
                <p> Fact paced number board game </p>
                <br />
                <p> Multiple game modes </p>
                <br />
                <p>  Unlockable items</p>
            </div>
        </div>
    </row>
</section>




<div id="content">
    <div class="videoWrapper">
        <div class="row">
        </div>
    </div>
    <br />
    <br />
</div>







<div id="StoreButtonsContent">
    <a href="https://play.google.com/store/apps/details?id=com.ApexStudios.OddityAlpha&hl=en_ZA"><img src="~/images/googlePlayGet.png" class="StoreButton1" id="GetOnGooglePlay" /></a>
    <a href="https://itunes.apple.com/us/app/totally-odd-number-game/id1437309450?mt=8&ign-mpt=uo%3D4"><img src="~/images/getOniOS.svg" class="StoreButton1" id="GetOniOS" /></a>
</div>



<br />
<br />


<div class="rellax" data-rellax-speed="1" data-rellax-zindex="5">
    <div id="ParallaxLayer4"> </div>
</div>

<div class="rellax" data-rellax-speed="3" data-rellax-zindex="5">
    <div id="ParallaxLayer1"> </div>
</div>




<div id="ScreenshotContainer">

    <img src="~/images/screenshots.png" id="subLogo" />

    <img src="~/images/screenshots.png" id="screenshots" />
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/screenshot1.JPG" alt="">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/screenshot2.JPG" alt="">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/screenshot4.JPG" alt="">
            </a>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/screenshot3.JPG" alt="">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/screenshot5.JPG" alt="">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="~/images/screenshot6.JPG" alt="">
            </a>
        </div>
    </div>






    <br />
    <br />
</div>






<div class="rellax" data-rellax-speed="5">
    <div id="ParallaxLayer2"> </div>
</div>



<br />
<button class="button">Download Press kit</button>
<br />
<br />





<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
</script>


